`hct` from 8075 missing from the initial registration

`hct`, the HTTP-CoAP proxy URI template defined in [§5.5 of RFC8075](https://www.rfc-editor.org/rfc/rfc8075.html#section-5.5) should be in the initial registration.